@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Righteous&display=swap");
.anton {
  font-family: "Anton", sans-serif;
}
.up {
  text-transform: uppercase;
}

.wrapper {
  padding: 20px 50px;
  height: auto;
  /* background-color: grey; */
}

.nav-baseline {
  border-bottom: 2px solid #292929;
}

.box-content-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 50px;
  /* background-color: grey; */
}
.about {
  height: 800px;
}
.skills {
  height: 100vh;
}
@media (max-width: 768px) {
  .box-content-home {
    /* flex-direction: column; */
    /* background-color: #292929; */
    align-items: center;
    /* background-color: red; */
    justify-content: center;
    height: auto;
    gap: 25px;
  }
  .myName {
    text-align: center;
  }
}

.content {
  /* border: 1px solid red; */
  height: 300px;
}

/* contens */
.images {
  width: 300px;
}
.headings {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
}

/* header-title */
.header {
  /* border: 1px solid red; */
}
.header > h1,
h3 {
  color: white;
  text-align: left;
  /* border: 1px solid red; */
  text-transform: uppercase;
  color: #292929;
  margin: 0;
  text-align: left;
}
.myName {
  line-height: 1rem;
}
.myTitle {
  font-size: 4rem;
}

/* social media */
.social-media {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.social-media > a {
  color: #292929;
  font-size: 1.5rem;
}

/* photo */
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.photoProfile {
  height: 100%;
  border-radius: 20px;
  border: 2px solid #292929;
  box-shadow: 15px 15px 0px #292929;
}

.btn-wrap {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.new {
  justify-content: space-between;
}
/* CSS button */
.button-56 {
  align-items: center;
  background-color: #ffff;
  border: 2px solid #292929;
  border-radius: 8px;
  box-sizing: border-box;
  color: #292929;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #292929;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #292929;
  color: white;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* about */

.about-card {
  width: 600px;
  border: 2px solid #292929;
  border-radius: 15px;
  box-shadow: 15px 15px 0px #292929;
}
@media (max-width: 768px) {
  .about-card {
    width: 300px;
  }
  .about {
    height: 70vh;
  }
}

/* skills */
.skillcard {
  width: 400px;
  padding: 20px;
  border: 2px solid #292929;
  border-radius: 15px;
  box-shadow: 15px 15px 0px #292929;
}
.images-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #292929; */
  /* border: 2px solid #292929; */
  margin: 35px 0;
  border-radius: 20px;
}
.skill-img {
  width: 200px;
  height: 200px;
}

/* contact */
.contact {
  /* background-color: red; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  padding: 10px 0;
}
.contactCard {
  width: auto;
  padding: 20px;
  border: 2px solid #292929;
  border-radius: 15px;
  box-shadow: 15px 15px 0px #292929;
}
.contactCard > p> a{
  color: #292929;
  text-decoration: none;
}
.btn-contact{
  margin: 0 5px;
  /* color: green; */
  font-size: 20px;
}

